image: docker:24

services:
  - docker:dind

variables:
  DOCKER_TLS_CERTDIR: ""

stages:
  - build
  - deploy

before_script:
  - apk add --no-cache python3 py3-pip
  - pip3 install awscli
  - aws --version

build:
  stage: build
  script:
    - aws ecr get-login-password --region $AWS_DEFAULT_REGION |
      docker login --username AWS --password-stdin $ECR_REPO
    - docker build -t sample-app .
    - docker tag sample-app:latest $ECR_REPO:latest
    - docker push $ECR_REPO:latest

deploy:
  stage: deploy
  script:
    - aws ecs update-service
      --cluster $ECS_CLUSTER
      --service $ECS_SERVICE
      --force-new-deployment
